*{
    margin:0;
    padding: 0;
}
body{
    background-color: rebeccapurple;
}

.sideBar{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.appIcon{
    margin-bottom: 4rem;
    margin-left: 1.5rem;
    margin-top: 5rem;
}

.buttonDesign {
    margin-top: 20px !important; /* Apply margin-top with !important to override Bootstrap's default */
}

.container-fluid .buttonDesign {
    margin-top: 20px; /* Apply margin-top without !important */
    width: 90%;
    border-color: white;
}

.container-fluid .newAppointmentButton{
    margin-top: 19vw;
    margin-bottom: 1vw;
    margin-left: 1vw;
    height:5vw;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.data{
    padding-top: 1vw;
}
.add{
    padding-top: 1.5vw;
}
.add button{
    font-size: 20px;
    border: none;
    color: white;
    width: 35px;
    height:35px;
    border-radius: 60%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    text-align: center;
}



/*User Profile*/

.closeDots button{
    border: none;
    background: none;
}
.userProfile{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}
.completeProfile{
    width: 100%;
}
#pictureRow{
    margin-top: 2vw;
}


.profilePicture img{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    
}
.pictureBorder{
    height: 135px;
    width: 135px;
    border-radius: 50%;
    border:3px solid #198754;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


/* Your custom CSS */
.info1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80% !important;
    border-radius: 5%;
}
.info1:hover {
    background-color: #198754 !important; /* Add !important to ensure it overrides other rules */
    color: white !important;
    cursor: pointer;
}


/*content part*/

/*StartUp Page*/

.startUpPage{
    border-radius: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 760px;
    background-color: #d1e7dd;
    width: 500px;
    transition: all 0.3s ease; 
}
.startUpPage:hover{
    background-color: #198754;
}

.content{
    margin-top: 100px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#contentColumn {
    flex: 1;
}
/*Dashboard css*/
.dashboardCard{
    background-color: #198754;
    color: white;
    font-size: 20px;
    font-weight: 400;
    border-radius: 20px;
    transition: transform 0.3s ease; 
}

.dashboardCard:hover{
    cursor: pointer;
    transform: scale(1.02);
}

.doctorImage img{
    background-color: transparent;
    height: 200px;
    width: 170px;
    margin-top: 4%;
    margin-bottom: 2%;
    margin-left: 20%;
}
.doctorText h2{
    margin-top: 5%;
}
.doctorText span{
    color:rgb(244, 245, 242);
    font-size: 40px;
    font-weight: 800;
}
.chart{
    margin-right: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20px;
    transition: transform 0.3s ease; 
}
.chart i{
    color:#198754;

}
.chart:hover{
    cursor: pointer;
    transform: scale(1.02);
}

.doctorAmount h1{
color:#198754
}
.doctorIcon i{
    font-size: 30px;

}

.doctorSearchBar{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 16px;
    transition: transform 0.3s ease; 
}

.doctorSearchBar:hover{
    transform: scale(1.02);
}
.doctorSearchBar input{
    width:280px;
    font-size: 20px;
    border-radius: 6px;
    padding-left: 5px;
}
.doctorSearchBar h5{
    color: #198754;
}
.categories{
    margin-left: 40px;
}

#category{
     border-radius: 6px;   
    font-size: 20px;
    width: 200px;
}
.types{
    margin-left: 40px;
}

#type{
     border-radius: 6px;   
    font-size: 20px;
    width: 200px;
}


.searchButton button{
    background-color:#198754;
    color: white;
    border-radius: 5px;
    font-size: 18px;
    padding: 5px 8px 5px 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: none;
}
/*Table in the doctor section*/
.doctorTable{
    width: 100%; /* Set the width to 100% */
    height: 100%; /* Set the height to 100% */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20px;
    transition: transform 0.3s ease; 
    max-height: 240px; /* Set a fixed height for the table container */
    overflow-y: auto; /* Enable vertical scrolling */
}
.doctorTable:hover{
    transform: scale(1.02);
}

.doctorTable table {
    width: 100%;
    border-collapse: collapse;
    margin: 0px;
}

.doctorTable th, .doctorTable td {
    padding: 8px;
    text-align: left;
}

.doctorTable td i:hover{
    cursor:pointer
}

.doctorTable th {
    background-color:#198754;
    color: white;
}

.doctorTable tr:nth-child(even) {
    background-color: #f2f2f2; /* Alternate row background color */
}

/*History of the appointment */
#History button{
    padding: 8px 20px 8px 20px;
    background-color: #198754;
    border: none;
    color: white;
    font-size: 15px;
    font-weight: 500;
    border-radius: 8px;
   
}

/*Help section of the dashboard*/
.help{
    margin-left: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20px;
    transition: transform 0.3s ease; 
    border: 2px solid #198754;
}
.help:hover{
    transform: scale(1.02);
    cursor: pointer;
}
.moreHelp{
    margin-left: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20px;
    transition: transform 0.3s ease;
    border: 2px solid #198754;
 }
.moreHelp:hover{
    
    transform: scale(1.02);
    cursor: pointer;
}
/* Logo for the profile */

#logo{
    position: absolute;
    top: 10px;
    right: 20px;
    display: none;
    cursor: pointer;
}
  
  #logo i {
    font-size: 24px; /* Adjust font size as needed */
    color: #198754;
  }
  

  .saveButton{
    
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: 25px;
  }

  .saveButton:hover{
    transform: scale(1.01);
  }